/*!
Theme Name: shop-wp-woo
Theme URI: #
Author: Lomakin Alex
Author URI: #
Description: First site shop
Version: 1.0.0
*/

/*Specification*/
*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Lato', sans-serif;
}

a
{
    font-size: 14px;

    color: #303030;
}

a:hover
{
    color: #606060;
}
.input
{
    border-bottom: 0 !important;
}
/*Woocommerce*/
ul.woocommerce-mini-cart {
    list-style-type: none;
}
.woocommerce-product-gallery__trigger{
    display: none;
}
/*Hader*/

.container-fluid
{
    padding-right: 30px;
    padding-left: 30px;

    background: white;
}
.container-top
{
    padding-top: 35px;

    background: white;
}
.menu-item
{
    margin-right: 60px;
}
.menu-span
{
    margin-right: 10px;
}
.menu-span img
{
    height: 14px;
}
.custom-logo-link
{
    margin-right: 40px;
}
#log-in
{
    margin-right: 30px;
}
.navbar-brand{
    margin-right: 60px;
}
.navbar
{
    padding-bottom: 40px;
}
.log-out
{
    color: #f8a97f;
}

/*Cart*/
.top-block
{
    margin-bottom: 1px;
    width: 134px;
    height: 40px;
}
.top-block:hover
{
    z-index: 10;

    display: flex;

    width: 134px;
    margin-bottom: 1px;

    text-align: center;

    border-bottom: 0;
    background: white;
    /*height: 40px;*/

    justify-content: center;
    align-items: center;
}
.img-block
{
    width: 49px;
    height: 49px;
    margin: 18px 18px 18px 3px;
    display: block;
    border: 1px solid #e5e5e5;
}
.img-block img
{
    width: 100%;
    height: 100%;

}

.bot-block
{
    position: absolute;
    z-index: 3;
    right: 116px;
    display: none;
    height: auto;
    /*display: none;*/

    margin-top: -1px;
    /*margin-top: -1px;*/

    border: 1px solid #e5e5e5;
    background: white;
}
.bot-block:before
{
    position: absolute;
    top: -1px;
    right: 0;

    width: 132px;
    height: 1px;

    content: '';

    border: 1px solid white;
}
.block__bot-block,
.widget_shopping_cart
{
    width: 100%;

    border-bottom: 1px solid #e5e5e5;
}
.block__bot-block:last-child,
.widget_shopping_cart:last-child
{
    border: 0;
}
.title-product a
{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
}
.price-menu
{
    margin-top: 5px;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: auto;
}
.delete
{
    margin-right: 15px;
    margin-left: 45px;
}
a.delete
{
    font-size: 20px;
    font-weight: normal;
}
a.delete:hover
{
    text-decoration: none;
}
.subtotal-block
{
    font-size: 12px;

    padding-top: 25px;
    padding-bottom: 25px;
}
.subtotal-block span
{
    margin-left: 3px;
    color: #f68236;
}
.subtotal-block a
{
    font-size: 12px;


    color: white;
    background: #f68236;
}
/*main-title*/
.title-section
{
    height: 85vh;
}
.main-title
{
    font-size: 72px;

    width: auto;
    margin-top: 145px;

    text-align: center;
    text-transform: uppercase;
}
.main-par
{
    font-family: 'Georgia', cursive;
    font-size: 24px;
    font-style: italic;

    width: auto;
    margin-top: 20px;
    margin-bottom: 60px;

    text-align: center;

    color: #9e9e9e;
}
.header__btn
{
    margin-bottom: 150px;
    padding: 23px 30px;

    text-transform: uppercase;

    color: #9e9e9e;
    border: #9e9e9e solid 1px;
}

/*Section categories*/
.category
{
    font-size: 12px;

    position: relative;
    z-index: 1;

    margin-top: 28px;
    margin-bottom: 28px;

    color: #606060;
}
/*Section block-category */
.block-category
{
    padding-bottom: 165px;
}
.categories a,
.categories
{
    color: #606060;
    font-size: 12px;
    text-transform: uppercase;
}
.title-category
{
    margin-bottom: 65px;
}
.title-category__categories
{
    font-size: 36px;
    margin-top: 42px;
    text-align: center;
    text-transform: uppercase;
}
.more__categories
{
    font-family: 'georgia';
    font-size: 18px;
    font-style: italic;

    margin: auto;

    text-decoration: underline;
}

/*Products grid*/

.vertical-block
{
    /*width: 24%;*/
    position: relative;

    height: 590px;

    background: #d2d2d2;
}
.vertical-block-2
{
    /*width: 24%;*/
    position: relative;

    float: right;

    height: 590px;

    background: #d2d2d2;
}
.vertical-block-img
{
    width: 100%;
    height: 100%;
    margin-left: auto;
}
.lato-bold
{
    font-size: 2vw;

    /*position: absolute;*/
    /*top: 30%;
	left: 18%;*/
    text-transform: uppercase;
}

.georgia-italic
{
    font-family: 'Georgia', cursive;
    font-size: 2vh;
    font-style: italic;

    text-align: center;
    /*position: absolute;*/
    text-transform: uppercase;
}
.text-block-grid
{
    text-align: center;
    color: black;
}
.square-text,
.square-black-text,
.square-img
{
    position: relative;

    width: 100%;
    height: 295px;
    margin-bottom: 5vh;
}
.img-square-text
{
    width: 100%;
    height: 100%;
}

.square-text
{
    background: #bbb;
}
.square-black-text
{
    background: #606060;
}

/*Register*/
.subscriber
{
    padding-bottom: 130px;
}
.title-register
{
    font-size: 36px;

    margin-top: 130px;

    text-align: center;
    text-transform: uppercase;
}
.email-form
{
    font-size: 14px;
    font-style: italic;

    width: 470px;
    height: 53px;
    padding-left: 20px;

    color: #959595;
    border: 1px solid #959595;
    border-right: 0;
}
.btn-sub
{
    width: 95px;
    height: 53px;

    color: white;
    border-radius: 0;
    background: #f68236;
}
/*Slider-brand*/
.slider-brand
{
    padding-bottom: 60px;
}
.container-slider
{
    width: 100%;
    height: 120px;
}
.prev-n
{
    position: absolute;
    z-index: 2;
    left: 15px;

    width: 40px;
    height: 100%;

    opacity: .9;
    border: 0;
    background: #e4e4e4;
}
.prev-n:focus
{
    outline: 0;
}
.next-n:focus
{
    outline: 0;
}
.prev-n img,
.next-n img
{
    position: relative;

    width: 18px;
    height: 36px;
}
.next-n
{
    position: absolute;
    z-index: 2;
    right: 14px;

    width: 40px;
    height: 100%;
    margin-left: auto;

    opacity: .9;
    border: 0;
    background: #e4e4e4;
}
.prev-n a,
.next-n a
{
    width: auto;
    height: auto;

    background: #e4e4e4;
}
.prev-n:hover,
.next-n:hover
{
    background: #bbb7bb;
}
.slick-prev:before,
.slick-next:before
{
    width: 40px;
    height: 100%;
}
.slider
{
    overflow: hidden;

    width: 100%;
}
.img
{
    width: 20%;
    height: 100%;
}
.img img
{
    height: 100%;
}
/*Product*/
.img-category
{
    width: 200px;
    height: 275px;
    margin-bottom: 35px;

    border: 1px solid gray;
}
.name-product
{
    font-size: 14px;
    font-weight: bold;

    margin-top: 35px;
    text-align: center;
}
.price
{
    font-size: 14px;

    /*margin-bottom: 80px;*/

    text-align: center;
}
.line
{
    margin-top: 80px;
    margin-bottom: 50px;

    border-bottom: 1px solid #e5e5e5;
}
.title-slider
{
    font-family: 'georgia';
    font-size: 24px;
    font-style: italic;

    margin-bottom: 60px;

    text-align: center;

    color: #606060;
}
/*Sign*/
.sign,
.register-new-user{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    z-index: 100;
    top: 0;
    background-color: rgba(0, 125, 215, 0.7);

    display: none;
}
/*.help-1{*/
    /*position: fixed;*/
    /*overflow-y: scroll;*/
    /*height: 200px;*/
/*}*/
.close {
    position: absolute;
    right: 32px;
    top: 16px;
    width: 25px;
    height: 25px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
.wrapper__sign{
    background-color: rgba(0, 125, 215, 0);
    margin-top: 10vh;
    overflow-y: scroll;
}
.wrapper__sign label{
    text-transform: uppercase;
}
.bg-wrapper{
    background: white;
}
.tittle__sign{
    text-align: center;
    text-transform: uppercase;
}
.orange{
    background: #f68236 !important;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}
.forgot{
    color: #f68236;
    font-style: italic;
    font-size: 12px;
}
.forgot:hover{
    color: #f68236;
}
.new-user{
    text-align: center;
}
.wc-size-label{
    font-size: 13px;
}

/*Footer*/
.title-footer
{
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
}
.navigation__footer {
    list-style: none;
}
.navigation__footer li a
{
    font-size: 12px;
    line-height: 24px;
}
.end-block-footer p
{
    font-size: 12px;
    line-height: 24px;

    width: 220px;
    margin-bottom: 10px;
}
.first-block-footer
{
    margin-right: 109px;
}
.second-block-footer
{
    margin-right: 100px;
}
.networks a
{
    font-size: 20px;

    margin-right: 30px;
}
.footer
{
    padding-bottom: 50px;
}
/*SEARCH*/
.container-x
{
    line-height: 45px;

    position: relative;

    width: 0;
    height: 50px;
    margin-left: 50px;
    padding-right: 50px;

    transition: all .5s ease;
    text-align: center;

    border-radius: 5px;
    background: #41484a;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.input
{
    font-weight: bold;

    width: 0;
    padding: 5px 0;

    transition: all .3s ease;

    color: #fff;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
}

.container-x .fa
{
    font-size: 22px;

    position: absolute;
    top: 15px;
    right: 15px;

    cursor: pointer;

    color: #fff;
}

.container-x.active
{
    width: 200px;
    padding-left: 25px;

    transition: all .5s ease;
}

.input.active
{
    width: 98%;
    padding-left: 5px;

    transition: all .5s .8s ease;
}
/*Details*/
.main-image__galery{
    width: 100%;
    height: 585px;
    background: #fafafa;
}

.main-image__galery img{
    height: 100%;
    width: 100%;
}
.other{
    position: absolute;
    right: 0;
    bottom: 0;
}
.other-image__galery{
    height: 69px;
    width: 69px;
    background: #f7f7f7;
    border: 1px solid #e5e5e5;
    margin: 10px;
}
.other-image__galery img{
    height: 100%;
    width: 100%;
}
.variations{
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
.variations .label{
    display: none;
}
.tawcvs-swatches span:last-child{
    margin-right: 0;
}
.woocommerce-variation-description,
.woocommerce-variation-price{
    margin-top: 10px;
    text-align: center;
}
/*Description*/
.description{
    padding-top: 65px;
    padding-bottom: 100px;
    height: 100%;
}
.title-product h4{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.article-num {
    text-align: center;
}

.article-num span{
    font-size: 14px;
    font-style: italic;
    color: #a3a3a3;

}
.entry-summary .price{
    font-size: 18px;
    font-family: 'georgia';
    font-style: italic;
    text-align: center;
    color: #606060;
}

.description-product p{
    margin-top: 20px;
    width: auto;
    font-size: 14px;
    color: #606060;
    text-align: center;
    margin-bottom: 0;
}
.size p{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #606060;
}
.size-btn li{
    list-style-type: none;
    width: 29px;
    height: 29px;
    border: 1px solid #959595;
    margin-right: 15px;
    text-align: center;
}
.size-btn li:last-child{
    margin-right: 0;
}
.size-numbers{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.size-numbers:hover{
    text-decoration: none;
}
.current{
    background: #959595;
}
.current a{
    display: block;
    color: white;
}
.current a:hover{
    text-decoration: none;
    color: white;
}

.add-to-cart
{
    font-size: 12px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.add-to-cart button
{
    font-size: 12px;

    text-transform: uppercase;

    color: white;
    background: #f68236;
}
/*Section link*/
.link-to-product{
    background: #f1f1f1;
    text-align: center;
    margin-bottom: 65px;
    justify-content: center;
    align-items: center;
}
.link-to-product a{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #606060;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}
@media screen and (max-width: 600px) {
    .slider-brand,
    .title-slider,
    .other-link{
        display: none;
    }
}
input::placeholder
{
    color: #fff;
}
    /*Details*/
    figure{
        width: 100%;
        height: 585px;
        background: #fafafa;
    }

    figure img{
        width: 100%;
    }
    .ppp ol{
        position: absolute;
        right: 20px;
        bottom: 0;
    }
    .ppp ol li {
        list-style-type: none;
        float: inherit !important;
        height: 69px;
        width: 69px !important;
        background: #f7f7f7;
        border: 1px solid gray;
        margin: 10px;
    }
    .ppp ol img{
        height: 100%;
        width: 100%;
    }
    /*Description*/
    .description{
        padding-top: 65px;
        padding-bottom: 100px;
        height: 100%;
    }
    .single-title-product{
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
        text-align: center;
    }
    .article-num p{
        font-size: 14px;
        font-style: italic;
        color: #a3a3a3;
        text-align: center;

    }
    .price__description{
        font-size: 18px;
        font-family: 'georgia';
        font-style: italic;
        text-align: center;
        color: #606060;
    }

    .description-product p{
        margin-top: 20px;
        width: auto;
        font-size: 14px;
        color: #606060;
        text-align: center;
        margin-bottom: 0;
    }
    .size p{
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        color: #606060;
    }
    .size-btn li{
        list-style-type: none;
        width: 29px;
        height: 29px;
        border: 1px solid #959595;
        margin-right: 15px;
        text-align: center;
    }
    .size-btn li:last-child{
        margin-right: 0;
    }
    .size-numbers{
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .size-numbers:hover{
        text-decoration: none;
    }
    .current{
        background: #959595;
    }
    .current a{
        display: block;
        color: white;
    }
    .current a:hover{
        text-decoration: none;
        color: white;
    }

    .addd-to-carts
    {
        font-size: 12px;

        padding-top: 25px;
        padding-bottom: 25px;
    }

    /*.add-to-cart a*/
    /*{*/
        /*font-size: 12px;*/

        /*text-transform: uppercase;*/

        /*color: white;*/
        /*background: #f68236;*/
    /*}*/
    .single-product div.product{
        display: inherit;
    }
    .star-rating{
        margin: auto;
    }
    /*Section link*/
    .link-to-product{
        background: #f1f1f1;
        text-align: center;
        margin-bottom: 65px;
        justify-content: center;
        align-items: center;
    }
    .link-to-product a{
        padding-top: 10px;
        padding-bottom: 10px;
        color: #606060;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
    }
    @media screen and (max-width: 600px) {
        .slider-brand,
        .title-slider,
        .other-link{
            display: none;
        }
    }
/*Adaptive*/
@media screen and (max-width: 1025px)
{
    .nav-item
    {
        margin-right: 30px;
    }
}
@media screen and (max-width: 992px)
{
    .navbar-brand{
        margin: 0;
    }
    .navbar-toggler
    {
        order: 10;
    }
    .wrapper
    {
        display: none;

        order: 1;
    }
    #log-in
    {
        display: none;
    }
    .txt-link-menu
    {
        display: none;
    }
    .square-text,
    .square-black-text,
    .square-img
    {
        position: relative;

        height: auto;
        margin-bottom: 5vh;
    }
    .h-md-block
    {
        display: none;
    }
}

@media screen and (max-width: 888px)
{
    .main-title
    {
        width: auto;

        text-align: center;
    }
    .first-block-footer
    {
        margin-right: 49px;
    }
    .second-block-footer
    {
        margin-right: 50px;
    }
    .end-block-footer p
    {
        width: auto;
    }
}

@media screen and (max-width: 766px)
{
    .h-sm-block
    {
        display: none;
    }
    .head-bt
    {
        text-align: center;

        align-items: center;
        justify-content: center;
    }
    .top-block {
        width: 0;
    }
    .top-block:hover{
        width: 0;
    }
    .header__btn
    {
        margin: auto;
    }
    .first-block-footer
    {
        display: none !important;
    }
    .second-block-footer
    {
        display: none !important;
    }
    .third-block-footer
    {
        display: none !important;
    }
    .end-block-footer
    {
        text-align: center;

        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 425px)
{
    .header__btn
    {
        display: none;
    }
    .main-title
    {
        margin-top: 20px;
    }
} 
/*Woocommerce*/
.summary{
    width: 100%;
}
.woocommerce-grouped-product-list-item__label{
    padding-left: 20px;
}
.catalogue-item-img {
    display: flex;
}
.catalogue-item-img img{
    width: 100%;
    margin: auto;
}
.entry-title{
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 85px;

}
.notice__notice{
    padding: 10px 10px;
    margin-bottom: 20px;
    background: #f68236 !important;
    color: white;
    border-radius: 10px;
}
.notice__notice li{
    list-style: none;
}
.notice__notice a{
    color: white;
    transition: 0.3s;
}
.notice__notice a:hover{
    color: black;
    transition: 0.3s;
}
.notice__error{
    list-style: none;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    border-radius: 10px;
}
.notice__error li{
    list-style: none;
}
.notice__error a{
    color: white;
    transition: 0.3s;
}
.notice__error a:hover{
    color: black;
    transition: 0.3s;
}
.woocommerce-NoticeGroup-checkout {
    display: flex;
    justify-content: center;
}
header p{
    margin-bottom: 0;
}
.woocommerce-order-overview {
    list-style: none;
}
.total__payment th{
    padding-right: 20px;
}
.address {
    text-align: center;
}
.title-shipping{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
.title-shipping h3{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #303030;
    text-transform: uppercase;
}
.form-row{
    margin: 0;
}

.shipping-address-row {
    background: #fefefe;
    border: 1px solid #f2f2f2;
}
.input-text {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.lost_password{
    text-align: right;
}
footer {
    margin-top: 60px;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

/*html {*/
	/*line-height: 1.15; !* 1 *!*/
	/*-webkit-text-size-adjust: 100%; !* 2 *!*/
/*}*/

/*!* Sections*/
	 /*========================================================================== *!*/

/*!***/
 /** Remove the margin in all browsers.*/
 /**!*/

/*body {*/
	/*margin: 0;*/
/*}*/

/*!***/
 /** Correct the font size and margin on `h1` elements within `section` and*/
 /** `article` contexts in Chrome, Firefox, and Safari.*/
 /**!*/

/*h1 {*/
	/*font-size: 2em;*/
	/*margin: 0.67em 0;*/
/*}*/

/*!* Grouping content*/
	 /*========================================================================== *!*/

/*!***/
 /** 1. Add the correct box sizing in Firefox.*/
 /** 2. Show the overflow in Edge and IE.*/
 /**!*/

/*hr {*/
	/*box-sizing: content-box; !* 1 *!*/
	/*height: 0; !* 1 *!*/
	/*overflow: visible; !* 2 *!*/
/*}*/

/*!***/
 /** 1. Correct the inheritance and scaling of font size in all browsers.*/
 /** 2. Correct the odd `em` font sizing in all browsers.*/
 /**!*/

/*pre {*/
	/*font-family: monospace, monospace; !* 1 *!*/
	/*font-size: 1em; !* 2 *!*/
/*}*/

/*!* Text-level semantics*/
	 /*========================================================================== *!*/

/*!***/
 /** Remove the gray background on active links in IE 10.*/
 /**!*/

/*a {*/
	/*background-color: transparent;*/
/*}*/

/*!***/
 /** 1. Remove the bottom border in Chrome 57-*/
 /** 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.*/
 /**!*/

/*abbr[title] {*/
	/*border-bottom: none; !* 1 *!*/
	/*text-decoration: underline; !* 2 *!*/
	/*text-decoration: underline dotted; !* 2 *!*/
/*}*/

/*!***/
 /** Add the correct font weight in Chrome, Edge, and Safari.*/
 /**!*/

/*b,*/
/*strong {*/
	/*font-weight: bolder;*/
/*}*/

/*!***/
 /** 1. Correct the inheritance and scaling of font size in all browsers.*/
 /** 2. Correct the odd `em` font sizing in all browsers.*/
 /**!*/

/*code,*/
/*kbd,*/
/*samp {*/
	/*font-family: monospace, monospace; !* 1 *!*/
	/*font-size: 1em; !* 2 *!*/
/*}*/

/*!***/
 /** Add the correct font size in all browsers.*/
 /**!*/

/*small {*/
	/*font-size: 80%;*/
/*}*/

/*!***/
 /** Prevent `sub` and `sup` elements from affecting the line height in*/
 /** all browsers.*/
 /**!*/

/*sub,*/
/*sup {*/
	/*font-size: 75%;*/
	/*line-height: 0;*/
	/*position: relative;*/
	/*vertical-align: baseline;*/
/*}*/

/*sub {*/
	/*bottom: -0.25em;*/
/*}*/

/*sup {*/
	/*top: -0.5em;*/
/*}*/

/*!* Embedded content*/
	 /*========================================================================== *!*/

/*!***/
 /** Remove the border on images inside links in IE 10.*/
 /**!*/

/*img {*/
	/*border-style: none;*/
/*}*/

/*!* Forms*/
	 /*========================================================================== *!*/

/*!***/
 /** 1. Change the font styles in all browsers.*/
 /** 2. Remove the margin in Firefox and Safari.*/
 /**!*/

/*button,*/
/*input,*/
/*optgroup,*/
/*select,*/
/*textarea {*/
	/*font-family: inherit; !* 1 *!*/
	/*font-size: 100%; !* 1 *!*/
	/*line-height: 1.15; !* 1 *!*/
	/*margin: 0; !* 2 *!*/
/*}*/

/*!***/
 /** Show the overflow in IE.*/
 /** 1. Show the overflow in Edge.*/
 /**!*/

/*button,*/
/*input { !* 1 *!*/
	/*overflow: visible;*/
/*}*/

/*!***/
 /** Remove the inheritance of text transform in Edge, Firefox, and IE.*/
 /** 1. Remove the inheritance of text transform in Firefox.*/
 /**!*/

/*button,*/
/*select { !* 1 *!*/
	/*text-transform: none;*/
/*}*/

/*!***/
 /** Correct the inability to style clickable types in iOS and Safari.*/
 /**!*/

/*button,*/
/*[type="button"],*/
/*[type="reset"],*/
/*[type="submit"] {*/
	/*-webkit-appearance: button;*/
/*}*/

/*!***/
 /** Remove the inner border and padding in Firefox.*/
 /**!*/

/*button::-moz-focus-inner,*/
/*[type="button"]::-moz-focus-inner,*/
/*[type="reset"]::-moz-focus-inner,*/
/*[type="submit"]::-moz-focus-inner {*/
	/*border-style: none;*/
	/*padding: 0;*/
/*}*/

/*!***/
 /** Restore the focus styles unset by the previous rule.*/
 /**!*/

/*button:-moz-focusring,*/
/*[type="button"]:-moz-focusring,*/
/*[type="reset"]:-moz-focusring,*/
/*[type="submit"]:-moz-focusring {*/
	/*outline: 1px dotted ButtonText;*/
/*}*/

/*!***/
 /** Correct the padding in Firefox.*/
 /**!*/

/*fieldset {*/
	/*padding: 0.35em 0.75em 0.625em;*/
/*}*/

/*!***/
 /** 1. Correct the text wrapping in Edge and IE.*/
 /** 2. Correct the color inheritance from `fieldset` elements in IE.*/
 /** 3. Remove the padding so developers are not caught out when they zero out*/
 /**		`fieldset` elements in all browsers.*/
 /**!*/

/*legend {*/
	/*box-sizing: border-box; !* 1 *!*/
	/*color: inherit; !* 2 *!*/
	/*display: table; !* 1 *!*/
	/*max-width: 100%; !* 1 *!*/
	/*padding: 0; !* 3 *!*/
	/*white-space: normal; !* 1 *!*/
/*}*/

/*!***/
 /** Add the correct vertical alignment in Chrome, Firefox, and Opera.*/
 /**!*/

/*progress {*/
	/*vertical-align: baseline;*/
/*}*/

/*!***/
 /** Remove the default vertical scrollbar in IE 10+.*/
 /**!*/

/*textarea {*/
	/*overflow: auto;*/
/*}*/

/*!***/
 /** 1. Add the correct box sizing in IE 10.*/
 /** 2. Remove the padding in IE 10.*/
 /**!*/

/*[type="checkbox"],*/
/*[type="radio"] {*/
	/*box-sizing: border-box; !* 1 *!*/
	/*padding: 0; !* 2 *!*/
/*}*/

/*!***/
 /** Correct the cursor style of increment and decrement buttons in Chrome.*/
 /**!*/

/*[type="number"]::-webkit-inner-spin-button,*/
/*[type="number"]::-webkit-outer-spin-button {*/
	/*height: auto;*/
/*}*/

/*!***/
 /** 1. Correct the odd appearance in Chrome and Safari.*/
 /** 2. Correct the outline style in Safari.*/
 /**!*/

/*[type="search"] {*/
	/*-webkit-appearance: textfield; !* 1 *!*/
	/*outline-offset: -2px; !* 2 *!*/
/*}*/

/*!***/
 /** Remove the inner padding in Chrome and Safari on macOS.*/
 /**!*/

/*[type="search"]::-webkit-search-decoration {*/
	/*-webkit-appearance: none;*/
/*}*/

/*!***/
 /** 1. Correct the inability to style clickable types in iOS and Safari.*/
 /** 2. Change font properties to `inherit` in Safari.*/
 /**!*/

/*::-webkit-file-upload-button {*/
	/*-webkit-appearance: button; !* 1 *!*/
	/*font: inherit; !* 2 *!*/
/*}*/

/*!* Interactive*/
	 /*========================================================================== *!*/

/*!**/
 /** Add the correct display in Edge, IE 10+, and Firefox.*/
 /**!*/

/*details {*/
	/*display: block;*/
/*}*/

/*!**/
 /** Add the correct display in all browsers.*/
 /**!*/

/*summary {*/
	/*display: list-item;*/
/*}*/

/*!* Misc*/
	 /*========================================================================== *!*/

/*!***/
 /** Add the correct display in IE 10+.*/
 /**!*/

/*template {*/
	/*display: none;*/
/*}*/

/*!***/
 /** Add the correct display in IE 10.*/
 /**!*/

/*[hidden] {*/
	/*display: none;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Typography*/
/*--------------------------------------------------------------*!*/
/*body,*/
/*button,*/
/*input,*/
/*select,*/
/*optgroup,*/
/*textarea {*/
	/*color: #404040;*/
	/*font-family: sans-serif;*/
	/*font-size: 16px;*/
	/*font-size: 1rem;*/
	/*line-height: 1.5;*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
	/*clear: both;*/
/*}*/

/*p {*/
	/*margin-bottom: 1.5em;*/
/*}*/

/*dfn, cite, em, i {*/
	/*font-style: italic;*/
/*}*/

/*blockquote {*/
	/*margin: 0 1.5em;*/
/*}*/

/*address {*/
	/*margin: 0 0 1.5em;*/
/*}*/

/*pre {*/
	/*background: #eee;*/
	/*font-family: "Courier 10 Pitch", Courier, monospace;*/
	/*font-size: 15px;*/
	/*font-size: 0.9375rem;*/
	/*line-height: 1.6;*/
	/*margin-bottom: 1.6em;*/
	/*max-width: 100%;*/
	/*overflow: auto;*/
	/*padding: 1.6em;*/
/*}*/

/*code, kbd, tt, var {*/
	/*font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;*/
	/*font-size: 15px;*/
	/*font-size: 0.9375rem;*/
/*}*/

/*abbr, acronym {*/
	/*border-bottom: 1px dotted #666;*/
	/*cursor: help;*/
/*}*/

/*mark, ins {*/
	/*background: #fff9c0;*/
	/*text-decoration: none;*/
/*}*/

/*big {*/
	/*font-size: 125%;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Elements*/
/*--------------------------------------------------------------*!*/
/*html {*/
	/*box-sizing: border-box;*/
/*}*/

/**,*/
/**:before,*/
/**:after {*/
	/*!* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ *!*/
	/*box-sizing: inherit;*/
/*}*/

/*body {*/
	/*background: #fff;*/
	/*!* Fallback for when there is no custom background color defined. *!*/
/*}*/

/*hr {*/
	/*background-color: #ccc;*/
	/*border: 0;*/
	/*height: 1px;*/
	/*margin-bottom: 1.5em;*/
/*}*/

/*ul, ol {*/
	/*margin: 0 0 1.5em 3em;*/
/*}*/

/*ul {*/
	/*list-style: disc;*/
/*}*/

/*ol {*/
	/*list-style: decimal;*/
/*}*/

/*li > ul,*/
/*li > ol {*/
	/*margin-bottom: 0;*/
	/*margin-left: 1.5em;*/
/*}*/

/*dt {*/
	/*font-weight: bold;*/
/*}*/

/*dd {*/
	/*margin: 0 1.5em 1.5em;*/
/*}*/

/*img {*/
	/*height: auto;*/
	/*!* Make sure images are scaled correctly. *!*/
	/*max-width: 100%;*/
	/*!* Adhere to container width. *!*/
/*}*/

/*figure {*/
	/*margin: 1em 0;*/
	/*!* Extra wide images within figure tags don't overflow the content area. *!*/
/*}*/

/*table {*/
	/*margin: 0 0 1.5em;*/
	/*width: 100%;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Forms*/
/*--------------------------------------------------------------*!*/
/*button,*/
/*input[type="button"],*/
/*input[type="reset"],*/
/*input[type="submit"] {*/
	/*border: 1px solid;*/
	/*border-color: #ccc #ccc #bbb;*/
	/*border-radius: 3px;*/
	/*background: #e6e6e6;*/
	/*color: rgba(0, 0, 0, 0.8);*/
	/*font-size: 12px;*/
	/*font-size: 0.75rem;*/
	/*line-height: 1;*/
	/*padding: .6em 1em .4em;*/
/*}*/

/*button:hover,*/
/*input[type="button"]:hover,*/
/*input[type="reset"]:hover,*/
/*input[type="submit"]:hover {*/
	/*border-color: #ccc #bbb #aaa;*/
/*}*/

/*button:active, button:focus,*/
/*input[type="button"]:active,*/
/*input[type="button"]:focus,*/
/*input[type="reset"]:active,*/
/*input[type="reset"]:focus,*/
/*input[type="submit"]:active,*/
/*input[type="submit"]:focus {*/
	/*border-color: #aaa #bbb #bbb;*/
/*}*/

/*input[type="text"],*/
/*input[type="email"],*/
/*input[type="url"],*/
/*input[type="password"],*/
/*input[type="search"],*/
/*input[type="number"],*/
/*input[type="tel"],*/
/*input[type="range"],*/
/*input[type="date"],*/
/*input[type="month"],*/
/*input[type="week"],*/
/*input[type="time"],*/
/*input[type="datetime"],*/
/*input[type="datetime-local"],*/
/*input[type="color"],*/
/*textarea {*/
	/*color: #666;*/
	/*border: 1px solid #ccc;*/
	/*border-radius: 3px;*/
	/*padding: 3px;*/
/*}*/

/*input[type="text"]:focus,*/
/*input[type="email"]:focus,*/
/*input[type="url"]:focus,*/
/*input[type="password"]:focus,*/
/*input[type="search"]:focus,*/
/*input[type="number"]:focus,*/
/*input[type="tel"]:focus,*/
/*input[type="range"]:focus,*/
/*input[type="date"]:focus,*/
/*input[type="month"]:focus,*/
/*input[type="week"]:focus,*/
/*input[type="time"]:focus,*/
/*input[type="datetime"]:focus,*/
/*input[type="datetime-local"]:focus,*/
/*input[type="color"]:focus,*/
/*textarea:focus {*/
	/*color: #111;*/
/*}*/

/*select {*/
	/*border: 1px solid #ccc;*/
/*}*/

/*textarea {*/
	/*width: 100%;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Navigation*/
/*--------------------------------------------------------------*!*/
/*!*--------------------------------------------------------------*/
/*## Links*/
/*--------------------------------------------------------------*!*/
/*a {*/
	/*color: royalblue;*/
/*}*/

/*a:visited {*/
	/*color: purple;*/
/*}*/

/*a:hover, a:focus, a:active {*/
	/*color: midnightblue;*/
/*}*/

/*a:focus {*/
	/*outline: thin dotted;*/
/*}*/

/*a:hover, a:active {*/
	/*outline: 0;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*## Menus*/
/*--------------------------------------------------------------*!*/
/*.main-navigation {*/
	/*clear: both;*/
	/*display: block;*/
	/*float: left;*/
	/*width: 100%;*/
/*}*/

/*.main-navigation ul {*/
	/*display: none;*/
	/*list-style: none;*/
	/*margin: 0;*/
	/*padding-left: 0;*/
/*}*/

/*.main-navigation ul ul {*/
	/*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);*/
	/*float: left;*/
	/*position: absolute;*/
	/*top: 100%;*/
	/*left: -999em;*/
	/*z-index: 99999;*/
/*}*/

/*.main-navigation ul ul ul {*/
	/*left: -999em;*/
	/*top: 0;*/
/*}*/

/*.main-navigation ul ul li:hover > ul,*/
/*.main-navigation ul ul li.focus > ul {*/
	/*left: 100%;*/
/*}*/

/*.main-navigation ul ul a {*/
	/*width: 200px;*/
/*}*/

/*.main-navigation ul li:hover > ul,*/
/*.main-navigation ul li.focus > ul {*/
	/*left: auto;*/
/*}*/

/*.main-navigation li {*/
	/*float: left;*/
	/*position: relative;*/
/*}*/

/*.main-navigation a {*/
	/*display: block;*/
	/*text-decoration: none;*/
/*}*/

/*!* Small menu. *!*/
/*.menu-toggle,*/
/*.main-navigation.toggled ul {*/
	/*display: block;*/
/*}*/

/*@media screen and (min-width: 37.5em) {*/
	/*.menu-toggle {*/
		/*display: none;*/
	/*}*/
	/*.main-navigation ul {*/
		/*display: block;*/
	/*}*/
/*}*/

/*.site-main .comment-navigation, .site-main*/
/*.posts-navigation, .site-main*/
/*.post-navigation {*/
	/*margin: 0 0 1.5em;*/
	/*overflow: hidden;*/
/*}*/

/*.comment-navigation .nav-previous,*/
/*.posts-navigation .nav-previous,*/
/*.post-navigation .nav-previous {*/
	/*float: left;*/
	/*width: 50%;*/
/*}*/

/*.comment-navigation .nav-next,*/
/*.posts-navigation .nav-next,*/
/*.post-navigation .nav-next {*/
	/*float: right;*/
	/*text-align: right;*/
	/*width: 50%;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Accessibility*/
/*--------------------------------------------------------------*!*/
/*!* Text meant only for screen readers. *!*/
/*.screen-reader-text {*/
	/*border: 0;*/
	/*clip: rect(1px, 1px, 1px, 1px);*/
	/*clip-path: inset(50%);*/
	/*height: 1px;*/
	/*margin: -1px;*/
	/*overflow: hidden;*/
	/*padding: 0;*/
	/*position: absolute !important;*/
	/*width: 1px;*/
	/*word-wrap: normal !important; !* Many screen reader and browser combinations announce broken words as they would appear visually. *!*/
/*}*/

/*.screen-reader-text:focus {*/
	/*background-color: #f1f1f1;*/
	/*border-radius: 3px;*/
	/*box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);*/
	/*clip: auto !important;*/
	/*clip-path: none;*/
	/*color: #21759b;*/
	/*display: block;*/
	/*font-size: 14px;*/
	/*font-size: 0.875rem;*/
	/*font-weight: bold;*/
	/*height: auto;*/
	/*left: 5px;*/
	/*line-height: normal;*/
	/*padding: 15px 23px 14px;*/
	/*text-decoration: none;*/
	/*top: 5px;*/
	/*width: auto;*/
	/*z-index: 100000;*/
	/*!* Above WP toolbar. *!*/
/*}*/

/*!* Do not show the outline on the skip link target. *!*/
/*#content[tabindex="-1"]:focus {*/
	/*outline: 0;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Alignments*/
/*--------------------------------------------------------------*!*/
/*.alignleft {*/
	/*display: inline;*/
	/*float: left;*/
	/*margin-right: 1.5em;*/
/*}*/

/*.alignright {*/
	/*display: inline;*/
	/*float: right;*/
	/*margin-left: 1.5em;*/
/*}*/

/*.aligncenter {*/
	/*clear: both;*/
	/*display: block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Clearings*/
/*--------------------------------------------------------------*!*/
/*.clear:before,*/
/*.clear:after,*/
/*.entry-content:before,*/
/*.entry-content:after,*/
/*.comment-content:before,*/
/*.comment-content:after,*/
/*.site-header:before,*/
/*.site-header:after,*/
/*.site-content:before,*/
/*.site-content:after,*/
/*.site-footer:before,*/
/*.site-footer:after {*/
	/*content: "";*/
	/*display: table;*/
	/*table-layout: fixed;*/
/*}*/

/*.clear:after,*/
/*.entry-content:after,*/
/*.comment-content:after,*/
/*.site-header:after,*/
/*.site-content:after,*/
/*.site-footer:after {*/
	/*clear: both;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Widgets*/
/*--------------------------------------------------------------*!*/
/*.widget {*/
	/*margin: 0 0 1.5em;*/
	/*!* Make sure select elements fit in widgets. *!*/
/*}*/

/*.widget select {*/
	/*max-width: 100%;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Content*/
/*--------------------------------------------------------------*!*/
/*!*--------------------------------------------------------------*/
/*## Posts and pages*/
/*--------------------------------------------------------------*!*/
/*.sticky {*/
	/*display: block;*/
/*}*/

/*.post,*/
/*.page {*/
	/*margin: 0 0 1.5em;*/
/*}*/

/*.updated:not(.published) {*/
	/*display: none;*/
/*}*/

/*.page-content,*/
/*.entry-content,*/
/*.entry-summary {*/
	/*margin: 1.5em 0 0;*/
/*}*/

/*.page-links {*/
	/*clear: both;*/
	/*margin: 0 0 1.5em;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*## Comments*/
/*--------------------------------------------------------------*!*/
/*.comment-content a {*/
	/*word-wrap: break-word;*/
/*}*/

/*.bypostauthor {*/
	/*display: block;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Infinite scroll*/
/*--------------------------------------------------------------*!*/
/*!* Globally hidden elements when Infinite Scroll is supported and in use. *!*/
/*.infinite-scroll .posts-navigation,*/
/*.infinite-scroll.neverending .site-footer {*/
	/*!* Theme Footer (when set to scrolling) *!*/
	/*display: none;*/
/*}*/

/*!* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. *!*/
/*.infinity-end.neverending .site-footer {*/
	/*display: block;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Media*/
/*--------------------------------------------------------------*!*/
/*.page-content .wp-smiley,*/
/*.entry-content .wp-smiley,*/
/*.comment-content .wp-smiley {*/
	/*border: none;*/
	/*margin-bottom: 0;*/
	/*margin-top: 0;*/
	/*padding: 0;*/
/*}*/

/*!* Make sure embeds and iframes fit their containers. *!*/
/*embed,*/
/*iframe,*/
/*object {*/
	/*max-width: 100%;*/
/*}*/

/*!* Make sure logo link wraps around logo image. *!*/
/*.custom-logo-link {*/
	/*display: inline-block;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*## Captions*/
/*--------------------------------------------------------------*!*/
/*.wp-caption {*/
	/*margin-bottom: 1.5em;*/
	/*max-width: 100%;*/
/*}*/

/*.wp-caption img[class*="wp-image-"] {*/
	/*display: block;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
/*}*/

/*.wp-caption .wp-caption-text {*/
	/*margin: 0.8075em 0;*/
/*}*/

/*.wp-caption-text {*/
	/*text-align: center;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*## Galleries*/
/*--------------------------------------------------------------*!*/
/*.gallery {*/
	/*margin-bottom: 1.5em;*/
/*}*/

/*.gallery-item {*/
	/*display: inline-block;*/
	/*text-align: center;*/
	/*vertical-align: top;*/
	/*width: 100%;*/
/*}*/

/*.gallery-columns-2 .gallery-item {*/
	/*max-width: 50%;*/
/*}*/

/*.gallery-columns-3 .gallery-item {*/
	/*max-width: 33.33%;*/
/*}*/

/*.gallery-columns-4 .gallery-item {*/
	/*max-width: 25%;*/
/*}*/

/*.gallery-columns-5 .gallery-item {*/
	/*max-width: 20%;*/
/*}*/

/*.gallery-columns-6 .gallery-item {*/
	/*max-width: 16.66%;*/
/*}*/

/*.gallery-columns-7 .gallery-item {*/
	/*max-width: 14.28%;*/
/*}*/

/*.gallery-columns-8 .gallery-item {*/
	/*max-width: 12.5%;*/
/*}*/

/*.gallery-columns-9 .gallery-item {*/
	/*max-width: 11.11%;*/
/*}*/

/*.gallery-caption {*/
	/*display: block;*/
/*}*/
