.main-title-cart{
	text-align: center;

	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
}
.main-par-cart{
	text-align: center;
	font-family: 'georgia';
	font-style: italic;
	font-size: 18px;
	color: #606060;
	margin-bottom: 85px;
}
/*WHO*/
.title-img{
	height: 30vh;
	background: #fafafa;
}
.par__who{
	margin-left: -15px;
	color: #606060;
	font-size: 14px;
}
.title__who{
	margin-top: 55px;
	font-size: 24px;
	text-transform: uppercase;
}