.main-title-cart{
	text-align: center;

	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 100px;
}
.main-par-cart{
	text-align: center;
	font-family: 'georgia';
	font-style: italic;
	font-size: 18px;
	color: #606060;
	margin-bottom: 85px;
}
/*Table*/
thead th{
	text-transform: uppercase;
	color: #909090;
	font-size: 12px;
}
.first-column{
	width: 125px;
}
.second-column{
	width: 590px;
}
.third-column{
	width: 155px;
}
.fourth-column{
	width: 110px;
}
.fifth-column{
	width: 90px;
}
.sixth-column{
	width: 100px;
}
.img-product__cart{
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
	width: 99px;
	height: 99px;
}
.img-product__cart a img {
	width: 100%;
	height: 100%;
}
.entry-title{
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 100px;
	margin-bottom: 85px;

}
.product-subtotal{
	text-align: right !important;
}
table td{
	vertical-align: middle !important;
}
table td p{
	margin-bottom: 0 !important;
	font-size: 14px !important;
}
.description__cart a{
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 14px;
}
.description__cart p{
	font-style: italic;
	font-size: 12px !important;
	color: #606060;
}
.price__cart {
	justify-content: flex-end;
}
.price__cart p{
	text-align: right;
	height: 14px;
	vertical-align: middle;
}
.price__cart a{
	font-size: 14px;
	transform: rotate(45deg);
	margin-left: 15px !important;
	margin-right: 0 !important;
}
.price__cart a:hover{
	text-decoration: none;
}
.par__qty{
	vertical-align: middle;
	align-items: center;
}
.plus_minus{
	margin-left: 5px;
}
.plus,
.minus{
	width: 16px;
	height: 16px;
	background: black;
	color: white;	
	font-size: 8px;
}
.plus{
	margin-bottom: 3px;
}
.table{
	margin-bottom: 5px;
}
/*Total*/
.total-bg{
}
.subtotal__total{
	background: #f9f9f9;
	width: 100%;
	vertical-align: middle;
	align-items: center;
	margin-bottom: 45px;
}
.subtotal__total p{
	vertical-align: middle;
	margin-top: 1rem;
	font-size: 14px;
	color: #303030;
	margin-right: 30px;
	font-weight: bold;
}

.subtotal__total span{
	font-size: 14px;
	color: #f68236;
	font-weight: bold;
	margin-right: 15px;
}
/*order*/
.order{
	margin-top: 55px;
}
.block-order{
	/*display: none !important;*/
	display: flex;
}
.continue{
	text-decoration: underline;
}
.order-now
{
    font-size: 14px;
    border-radius: 0;
	padding: 20px 50px;

    text-transform: uppercase;

    color: white;
    background: #f68236;
}
/*Shipping address*/
.open-icon{
	margin-bottom: 75px;
	display: none;
}
.shipping-address-row{
	background: #fefefe;
	border: 1px solid #f2f2f2;
}
.title-shipping{
	margin-top: 100px;
	margin-bottom: 40px;
}
.title-shipping:last-child {
    margin-top: 0;
}
.title-shipping h3{
	text-align: center;

	font-size: 36px;
	font-weight: bold;
	color: #303030;
	text-transform: uppercase;
}
.title-shipping p{
	color: #606060;
	text-align: center;

	font-size: 18px;
	font-family: 'georgia';
	font-style: italic;
	margin-bottom: 0;
}
.title-shipping label{
	text-align: left;
	text-transform: uppercase;
	font-size: 12px;
	color: #606060;
    display: block;
}
.title-shipping span{
	text-transform: lowercase;
	font-style: italic;
}
.title-shipping option{
	font-family: 'lato', sans-serif !important;
	font-size: 12px !important;
	color: #606060 !important;

}
.custom-checkbox label{
	text-align: center;
}
.shipping-address {
	margin-bottom: 75px;
	display: none;
}
.custom-control label{
	align-items: center;
	text-transform: none;
	font-size: 15px;
}

/*Payment*/
.woocommerce-checkout-review-order-table {
    margin: auto;
}
.total__payment{
	margin-top: 100px;
	margin-bottom: 100px;
}
.total__payment p{
	font-family: 'georgia';
	font-size: 18px;
	color: #606060;
	font-style: normal;
}
.total__payment span{
	text-align: right;
}
.color-par,
.color-par th{
	color: #f68236 !important;
}
.orange{
	background: #f68236 !important;
	margin-bottom: 100px;
}

/*footer*/
footer{
	margin-top: 60px;
}
/*Media*/
@media screen and (max-width: 992px) {
    .coupon{
        margin-left: 0!important;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .wrapper__cart {
        margin-left: 0!important;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 767px) {
	.details-cart p{
		font-size: 10px !important;
	}
	.subtotal__total{
		justify-content: center !important;
	}
	.subtotal__total span{
	margin-right: 0;
	}
	.continue{
		text-align: center;
		margin-bottom: 45px;
	}
	.block-order{
		flex-direction: column;
	}
	.img-product__cart{
	    width: 65px;
        height: auto;
	}
	.description__cart a{
	font-size: 10px;
	}
	.description__cart p{
		font-size: 8px !important;
	}
	thead{
		display: none;
	}
	.fifth-column{
		display: none;
	}
	.price__cart a{
		display: none;
	}
    .cart_totals{
        flex-direction: column;
    }

}
/*Woocommerce*/
.cart-subtotal th,
.order-total th{
	vertical-align: middle;
	margin-top: 1rem;
	font-size: 14px;
	color: #303030;
	padding-right: 30px;
	font-weight: bold;
}
.product-subtotal span{
	margin-right: 10px;
}
span.woocommerce-Price-currencySymbol{
	margin-right: 0 !important;
}
.cart_totals {
	padding: 10px 0;
}
.product-thumbnail:before{
    display: none;
}
.cart_totals{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.orange{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.orange:last-child{
    margin-top: 0;
    margin-bottom: 0;
}
.coupon label{
    font-size: 14px;
}
.wrapper__cart {
    display: flex;
    margin-left: auto;
    flex-direction: column;
}
.wc-proceed-to-checkout {
    margin-top: auto;
    margin-top: 10px;
}
.input-text {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-row {
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: inherit;
    margin-right: 0;
    margin-left: 0;
    /*float: left;*/
}
.order__billing{
    order: 10;
}
.woocommerce-checkout-review-order-table li{
    list-style: none;
}
.woocommerce-checkout-review-order-table label,
.woocommerce-checkout-review-order-table ul{
    margin-bottom: 0;
}
