/*Section categories*/
.category
{
    z-index: 1 !important;
    font-size: 12px;

    margin-top: 28px;
    margin-bottom: 70px;

    list-style: none;
    color: #606060;
}
.title-category__category
{
    font-size: 36px;
    font-weight: bold;

    margin-top: 70px;
    margin-bottom: 0;

    color: black;
}
.categories__category
{
    font-family: 'georgia';
    font-size: 18px;
    font-style: italic;

    margin-bottom: 65px;
}

/*Dropdown*/
.btn-custom
{
    font-family: 'georgia';
    font-size: 14px;
    font-style: italic;

    width: 100%;

    text-align: left;

    color: #606060;
    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
}
.dropdown-toggle::after
{
    position: absolute;
    top: 16px;
    right: 12px;
}
.dropdown-menu
{
    font-family: 'georgia';
    font-size: 14px;
    font-style: italic;

    color: #606060;
    border: 0;
}
/*Section block-category */
.block-category
{
    padding-bottom: 165px;
}
.categories
{
    text-transform: uppercase;
}
.title-category
{
    margin-bottom: 65px;
}
.title-category__categories,
.title-category__categories a
{
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}
.more__categories
{
    font-family: 'georgia';
    font-size: 18px;
    font-style: italic;
    display: block;
    text-align: center;
    margin: auto;

    text-decoration: underline;
}
.more__categories:after{
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    /*left: 52vw;!* Положение треугольника *!*/
    margin-top: 11px;
    margin-left: 5px;
    border: 5px solid transparent;
    border-left: 5px solid black;
}
.woocommerce-products-header {
    margin-bottom: 65px;
}
/*Product*/
.img-category
{
    width: 200px;
    height: 275px;
    margin-bottom: 35px;

    border: 1px solid gray;
}
.name-product
{
    font-size: 14px;
    font-weight: bold;

    text-align: center;
}
a .price{
    margin-bottom: 80px;
}
.price span
{
    font-size: 14px;

    text-align: center;
}
.line
{
    margin-bottom: 50px;

    border-bottom: 1px solid #e5e5e5;
}
.title-slider
{
    font-family: 'georgia';
    font-size: 24px;
    font-style: italic;

    margin-bottom: 60px;

    text-align: center;

    color: #606060;
}
/*Pagination*/
.pagination{
    margin-bottom: 60px;
    margin-top: 165px;
}

.woocommerce-pagination a,
.woocommerce-pagination span{
    display: block;
    text-align: center;
    width: 24px;
    height: 24px;
    background: #303030;
    border: 1px solid #303030;
    margin-right: 5px;
}
.current{
    border: 1px solid #303030;
    background: white !important;
}
span.current {
    color: #303030 !important;
}

.page-numbers{
    list-style-type: none;
    display: flex;
    color: white;
}
.woocommerce-LoopProduct-link woocommerce-loop-product__link a{
    display: block;
}
