/*Section categories*/
.category
{
    font-size: 12px;

    position: relative;
    z-index: 1;

    margin-top: 28px;
    margin-bottom: 70px;

    color: #606060;
}
/*Section block-category */
.block-category
{
    padding-bottom: 165px;
}
.categories
{
    text-transform: uppercase;
}
.title-category
{
    margin-bottom: 65px;
}
.title-category__categories
{
    font-size: 36px;

    text-align: center;
    text-transform: uppercase;
}
.more__categories
{
    font-family: 'georgia';
    font-size: 18px;
    font-style: italic;

    margin: auto;

    text-decoration: underline;
}


/*Product*/
.img-category{
    width: 200px;
    height: 275px;
    border: 1px solid gray;
    margin-bottom: 35px;
}
.name-product{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.price{
    font-size: 14px;
    text-align: center;
}
.line{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 50px;
}
.title-slider{
    text-align: center;
    font-family: 'georgia';
    font-style: italic;
    color: #606060;
    font-size: 24px;
    margin-bottom: 60px;
}