.main-title-cart{
	text-align: center;

	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
}
.main-par-cart{
	text-align: center;
	font-family: 'georgia';
	font-style: italic;
	font-size: 18px;
	color: #606060;
	margin-bottom: 85px;
}
.orange{
	background: #f68236 !important;
	margin-bottom: 100px;
	margin-top: 30px;
}