.category{
    margin-bottom: 25px !important;
}
.main-image__galery{
    width: 100%;
    height: 585px;
    background: #fafafa;
}

.main-image__galery img{
    height: 100%;
    width: 100%;
}
.other{
    position: absolute;
    right: 0;
    bottom: 0;
}
.other-image__galery{
    height: 69px;
    width: 69px;
    background: #f7f7f7;
    border: 1px solid #e5e5e5; 
    margin: 10px;  
}
.other-image__galery img{
    height: 100%;
    width: 100%;
}
/*Description*/
.description{
    padding-top: 65px;
    padding-bottom: 100px;
    height: 100%;
}
.title-product h4{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.article-num p{
    font-size: 14px;
    font-style: italic;
    color: #a3a3a3;
    text-align: center;

}
.price__description{
    font-size: 18px;
    font-family: 'georgia';
    font-style: italic;
    text-align: center;
    color: #606060;
}

.description-product p{
    margin-top: 20px;
    width: auto;
    font-size: 14px;
    color: #606060;
    text-align: center;
    margin-bottom: 0;
}
.size p{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #606060;
}
.size-btn li{
    list-style-type: none;
    width: 29px;
    height: 29px;
    border: 1px solid #959595;
    margin-right: 15px;
    text-align: center;
}
.size-btn li:last-child{
    margin-right: 0;
}
.size-numbers{
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    text-align: center;
}
.size-numbers:hover{
    text-decoration: none;
}
.current{
    background: #959595;
}
.current a{
    display: block;
    color: white;
}
.current a:hover{
    text-decoration: none;
    color: white;
}

.addd-to-carts
{
    font-size: 12px;

    padding-top: 25px;
    padding-bottom: 25px;
}

.add-to-cart a
{
    font-size: 12px;

    text-transform: uppercase;

    color: white;
    background: #f68236;
}
/*Section link*/
.link-to-product{
    background: #f1f1f1;
    text-align: center;
    margin-bottom: 65px;
    justify-content: center;
    align-items: center;
}
.link-to-product a{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #606060;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}
@media screen and (max-width: 600px) {
    .slider-brand,
    .title-slider,
    .other-link{
        display: none;
    }
}