.top-block{
	width: 134px;
	height: 40px;
	background: white;
	border: 1px solid black;
	border-bottom: 0;
	z-index: 10;
	margin-bottom: -1px;
}
.top{
	margin-top: 100px;
}
.img-block{
	width: 49px;
	height: 49px;
	border: 1px solid black;
	margin: 18px;
}
.bot-block{
	background: white;
	/*margin-top: -1px;*/
	border: 1px solid black;
	z-index: 0;
}
.bot-block:before {
  content : "";
  position: absolute;
  right    : 16px;
  top  : 39px;
  height  : 1px;
  width   : 132px; 
  border: 1px solid white;
}
.title-product h4{
	font-size: 12px;
	margin-bottom: 0;
	font-weight: bold;
}
.price{
	font-size: 12px;
	margin-left: auto;
}
.delete{
	margin-right: 15px;
	margin-left: 45px;
	transform: rotate(45deg); 
}
.delete a{
	font-size: 12px;
}
.delete a:hover{
	text-decoration: none;
}