/*Specification*/
*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Lato', sans-serif;
}

a
{
    font-size: 14px;

    color: #303030;
}

a:hover
{
    color: #606060;
}
.input
{
    border-bottom: 0 !important;
}

/*Hader*/

.container-fluid
{
    padding-right: 30px;
    padding-left: 30px;

    background: white;
}
.container-top
{
    padding-top: 35px;

    background: white;
}
.nav-item
{
    margin-right: 60px;
}
.menu-span
{
    margin-right: 10px;
}
.menu-span img
{
    height: 14px;
}
.navbar-brand
{
    margin-right: 40px;
}
#log-in
{
    margin-right: 30px;
}
.navbar
{
    padding-bottom: 40px;
}
.log-out
{
    color: #f8a97f;
}

/*Cart*/
.top-block
{
    width: 134px;
    height: 40px;
}
.top-block:hover
{
    z-index: 10;

    display: flex;

    width: 134px;
    margin-bottom: 1px;

    text-align: center;

    border-bottom: 0;
    background: white;
    /*height: 40px;*/

    justify-content: center;
    align-items: center;
}
.img-block
{
    width: 49px;
    height: 49px;
    margin: 18px 18px 18px 3px;

    border: 1px solid #e5e5e5;
}
.bot-block
{
    display: none;

    height: auto;
}
.bot-block
{
    position: absolute;
    z-index: 3;
    right: 116px;

    display: none;

    margin-top: -1px;
    /*margin-top: -1px;*/

    border: 1px solid #e5e5e5;
    background: white;
}
.bot-block:before
{
    position: absolute;
    top: -1px;
    right: 0;

    width: 132px;
    height: 1px;

    content: '';

    border: 1px solid white;
}
.block__bot-block
{
    width: 100%;

    border-bottom: 1px solid #e5e5e5;
}
.block__bot-block:last-child
{
    border: 0;
}
.title-product a
{
    font-size: 12px;
    font-weight: bold;

    margin-bottom: 0;
}
.price-menu
{
    font-size: 12px;

    margin-left: auto;
}
.delete
{
    margin-right: 15px;
    margin-left: 45px;

    transform: rotate(45deg);
}
.delete a
{
    font-size: 20px;
}
.delete a:hover
{
    text-decoration: none;
}
.subtotal-block
{
    font-size: 12px;

    padding-top: 25px;
    padding-bottom: 25px;
}
.subtotal-block span
{
    color: #f68236;
}
.subtotal-block a
{
    font-size: 12px;

    text-transform: uppercase;

    color: white;
    background: #f68236;
}
/*main-title*/
.title-section
{
    height: 85vh;
}
.main-title
{
    font-size: 72px;

    width: auto;
    margin-top: 145px;

    text-align: center;
    text-transform: uppercase;
}
.main-par
{
    font-family: 'Georgia', cursive;
    font-size: 24px;
    font-style: italic;

    width: auto;
    margin-top: 20px;
    margin-bottom: 60px;

    text-align: center;

    color: #9e9e9e;
}
.header__btn
{
    margin-bottom: 150px;
    padding: 23px 30px;

    text-transform: uppercase;

    color: #9e9e9e;
    border: #9e9e9e solid 1px;
}

/*Section categories*/
.category
{
    font-size: 12px;

    position: relative;
    z-index: 1;

    margin-top: 28px;
    margin-bottom: 70px;

    color: #606060;
}
/*Section block-category */
.block-category
{
    padding-bottom: 165px;
}
.categories
{
    text-transform: uppercase;
}
.title-category
{
    margin-bottom: 65px;
}
.title-category__categories
{
    font-size: 36px;

    text-align: center;
    text-transform: uppercase;
}
.more__categories
{
    font-family: 'georgia';
    font-size: 18px;
    font-style: italic;

    margin: auto;

    text-decoration: underline;
}

/*Products grid*/

.vertical-block
{
    /*width: 24%;*/
    position: relative;

    height: 590px;

    background: #d2d2d2;
}
.vertical-block-2
{
    /*width: 24%;*/
    position: relative;

    float: right;

    height: 590px;

    background: #d2d2d2;
}
.vertical-block-img
{
    width: 100%;
    height: 100%;
    margin-left: auto;
}
.lato-bold
{
    font-size: 3vh;

    width: 160px;

    text-align: center;
    /*position: absolute;*/
    /*top: 30%;
	left: 18%;*/
    text-transform: uppercase;
}

.georgia-italic
{
    font-family: 'Georgia', cursive;
    font-size: 2vh;
    font-style: italic;

    text-align: center;
    /*position: absolute;*/
    text-transform: uppercase;
}
.text-block-grid
{
    position: absolute;
    top: 30%;

    width: 100%;

    color: black;
}
.square-text,
.square-black-text,
.square-img
{
    position: relative;

    width: 100%;
    height: 295px;
    margin-bottom: 5vh;
}
.img-square-text
{
    width: 100%;
    height: 100%;
}

.square-text
{
    background: #bbb;
}
.square-black-text
{
    background: #606060;
}

/*Register*/
.register
{
    padding-bottom: 130px;
}
.title-register
{
    font-size: 36px;

    margin-top: 130px;

    text-align: center;
    text-transform: uppercase;
}
.email-form
{
    font-size: 14px;
    font-style: italic;

    width: 470px;
    height: 53px;
    padding-left: 20px;

    color: #959595;
    border: 1px solid #959595;
    border-right: 0;
}
.btn-sub
{
    width: 95px;
    height: 53px;

    color: white;
    border-radius: 0;
    background: #f68236;
}
/*Slider-brand*/
.slider-brand
{
    padding-bottom: 60px;
}
.container-slider
{
    width: 100%;
    height: 120px;
}
.prev-n
{
    position: absolute;
    z-index: 2;
    left: 15px;

    width: 40px;
    height: 100%;

    opacity: .9;
    border: 0;
    background: #e4e4e4;
}
.prev-n:focus
{
    outline: 0;
}
.next-n:focus
{
    outline: 0;
}
.prev-n img,
.next-n img
{
    position: relative;

    width: 18px;
    height: 36px;
}
.next-n
{
    position: absolute;
    z-index: 2;
    right: 14px;

    width: 40px;
    height: 100%;
    margin-left: auto;

    opacity: .9;
    border: 0;
    background: #e4e4e4;
}
.prev-n a,
.next-n a
{
    width: auto;
    height: auto;

    background: #e4e4e4;
}
.prev-n:hover,
.next-n:hover
{
    background: #bbb7bb;
}
.slick-prev:before,
.slick-next:before
{
    width: 40px;
    height: 100%;
}
.slider
{
    overflow: hidden;

    width: 100%;
}
.img
{
    width: 20%;
    height: 100%;
}
.img img
{
    height: 100%;
}
/*Product*/
.img-category
{
    width: 200px;
    height: 275px;
    margin-bottom: 35px;

    border: 1px solid gray;
}
.name-product
{
    font-size: 14px;
    font-weight: bold;

    text-align: center;
}
.price
{
    font-size: 14px;

    text-align: center;
}
.line
{
    margin-top: 80px;
    margin-bottom: 50px;

    border-bottom: 1px solid #e5e5e5;
}
.title-slider
{
    font-family: 'georgia';
    font-size: 24px;
    font-style: italic;

    margin-bottom: 60px;

    text-align: center;

    color: #606060;
}
/*Sign*/

.sign{
    width: 100vw;
    height: 100vh;
    position: fixed;

    z-index: 100;
    box-shadow: 1;
    top: 0;
    background-color: rgba(0, 125, 215, 0.7);

    display: none;
}
.close {
position: absolute;
right: 32px;
top: 16px;
width: 25px;
height: 25px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
.wrapper__sign{
    background-color: rgba(0, 125, 215, 0);
    margin-top: 20vh;
}
.wrapper__sign label{
    text-transform: uppercase;
}
.bg-wrapper{
    background: white;
}
.tittle__sign{
    text-align: center;
    text-transform: uppercase;
}
.orange{
    background: #f68236 !important;
    text-transform: uppercase;
    color: white;
}
.forgot{
    color: #f68236;
    font-style: italic;
    font-size: 12px; 
}
.forgot:hover{
    color: #f68236;
}
.new-user{
    text-align: center;
}

/*Footer*/
.title-footer
{
    font-size: 14px;
    font-weight: bold;

    text-transform: uppercase;
}
.navigation__footer {
    list-style: none;
}
.navigation__footer li a
{
    font-size: 12px;
    line-height: 24px;
}
.end-block-footer p
{
    font-size: 12px;
    line-height: 24px;

    width: 220px;
    margin-bottom: 10px;
}
.first-block-footer
{
    margin-right: 109px;
}
.second-block-footer
{
    margin-right: 100px;
}
.networks a
{
    font-size: 20px;

    margin-right: 30px;
}
.footer
{
    padding-bottom: 50px;
}
/*SEARCH*/
.container-x
{
    line-height: 45px;

    position: relative;

    width: 0;
    height: 50px;
    margin-left: 50px;
    padding-right: 50px;

    transition: all .5s ease;
    text-align: center;

    border-radius: 5px;
    background: #41484a;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.input
{
    font-weight: bold;

    width: 0;
    padding: 5px 0;

    transition: all .3s ease;

    color: #fff;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
}

.container-x .fa
{
    font-size: 22px;

    position: absolute;
    top: 15px;
    right: 15px;

    cursor: pointer;

    color: #fff;
}

.container-x.active
{
    width: 200px;
    padding-left: 25px;

    transition: all .5s ease;
}

.input.active
{
    width: 98%;
    padding-left: 5px;

    transition: all .5s .8s ease;
}

input::placeholder
{
    color: #fff;
}

/*Adaptive*/
@media screen and (max-width: 1025px)
{
    .nav-item
    {
        margin-right: 30px;
    }
}
@media screen and (max-width: 992px)
{
    .navbar-toggler
    {
        order: 10;
    }
    .wrapper
    {
        display: none;

        order: 1;
    }
    #log-in
    {
        display: none;
    }
    .txt-link-menu
    {
        display: none;
    }
    .square-text,
    .square-black-text,
    .square-img
    {
        position: relative;

        height: auto;
        margin-bottom: 5vh;
    }
    .h-md-block
    {
        display: none;
    }
}

@media screen and (max-width: 888px)
{
    .main-title
    {
        width: auto;

        text-align: center;
    }
    .first-block-footer
    {
        margin-right: 49px;
    }
    .second-block-footer
    {
        margin-right: 50px;
    }
    .end-block-footer p
    {
        width: auto;
    }
}

@media screen and (max-width: 766px)
{
    .h-sm-block
    {
        display: none;
    }
    .head-bt
    {
        text-align: center;

        align-items: center;
        justify-content: center;
    }
    .header__btn
    {
        margin: auto;
    }
    .first-block-footer
    {
        display: none !important;
    }
    .second-block-footer
    {
        display: none !important;
    }
    .third-block-footer
    {
        display: none !important;
    }
    .end-block-footer
    {
        text-align: center;

        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 425px)
{
    .header__btn
    {
        display: none;
    }
    .main-title
    {
        margin-top: 20px;
    }
}
