.main-title-cart{
	text-align: center;

	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
}
.main-par-cart{
	text-align: center;
	font-family: 'georgia';
	font-style: italic;
	font-size: 18px;
	color: #606060;
	margin-bottom: 85px;
}